#border {
    border: 22px double #220CA4;
    border-radius: 0px 40px 0px 40px;
    }
    body {
        background-image: url('https://www.w3docs.com/uploads/media/default/0001/01/477719675fecaac0362957c214fb9aa56fca99b5.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
      }
     